## Read SQLite DB with Jupyter Notebook

In [6]:
import sqlite3
import pandas as pd

In [3]:
fcon = sqlite3.connect('chinook.db')

In [4]:
fcur = fcon.cursor()

In [9]:
raw_artists = fcur.execute('SELECT * from artists').fetchall()

In [7]:
artists = pd.DataFrame(fcur.execute('SELECT * from artists').fetchall())

In [11]:
artists2 = pd.read_sql_query('SELECT * from artists', fcon) # Best way.

In [12]:
artists2

     ArtistId                                               Name
0           1                                              AC/DC
1           2                                             Accept
2           3                                          Aerosmith
3           4                                  Alanis Morissette
4           5                                    Alice In Chains
..        ...                                                ...
270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271       272                             Emerson String Quartet
272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273       274                                      Nash Ensemble
274       275                              Philip Glass Ensemble

[275 rows x 2 columns]

In [ ]:
###