In [1]:
import pandas as pd

In [2]:
pd.read_json("http://127.0.0.1:5000/v1/sales")

   Discount First_Name Gender  Id Last_Name
0      0.05    Brendan      M   1      Wood
1      0.00       Mary      M   2      Wood
2      0.10        Sam      M   3     Smith
3      0.20        Joe      M   4    Person