In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
db_connection_str = 'mysql+pymysql://pythonuser:c0ncordia@127.0.0.1/Sales'
db_connection = create_engine(db_connection_str)

In [5]:
df = pd.read_sql('SELECT * FROM Customer', con=db_connection)

In [6]:
df

   Id First_Name Last_Name Gender  Discount
0   1    Brendan      Wood      M      0.05
1   2       Mary      Wood      M      0.00
2   3        Sam     Smith      M      0.10
3   4        Joe    Person      M      0.20