In [2]:
import pandas as pd

df = pd.read_json('https://marketdata.tradermade.com/api/v1/live_currencies_list?api_key=XDhiJO-q8PGjwcuYUH1Y')

In [3]:
df.head()

    available_currencies         endpoint
AED           UAE Dirham  live_currencies
ARS       Argentine Peso  live_currencies
AUD    Australian Dollar  live_currencies
BRL       Brazilian Real  live_currencies
CAD      Canadian Dollar  live_currencies

In [9]:
import json
f = open('currencies.json')
data = json.load(f)
data

{'available_currencies': {'AED': 'UAE Dirham',
  'ARS': 'Argentine Peso',
  'AUD': 'Australian Dollar',
  'BRL': 'Brazilian Real',
  'CAD': 'Canadian Dollar',
  'CHF': 'Swiss Franc',
  'CLP': 'Chilean Peso',
  'CNY': 'Chinese Yuan',
  'COP': 'Colombian Peso',
  'CZK': 'Czech Koruna',
  'DKK': 'Danish Krone',
  'EUR': 'Euro',
  'GBP': 'British Pound Sterling',
  'HKD': 'Hong Kong Dollar',
  'HRK': 'Croatian Kuna',
  'HUF': 'Hungarian Forint',
  'IDR': 'Indonesian Rupiah',
  'ILS': 'Israeli New Sheqel',
  'INR': 'Indian Rupee',
  'ISK': 'Icelandic Krona',
  'JPY': 'Japanese Yen',
  'KRW': 'South Korean Won',
  'KWD': 'Kuwaiti Dinar',
  'MAD': 'Moroccan Dirham',
  'MXN': 'Mexican Peso',
  'MYR': 'Malaysian Ringgit',
  'NOK': 'Norwegian Krone',
  'NZD': 'New Zealand Dollar',
  'PEN': 'Peruvian Nuevo Sol',
  'PHP': 'Philippine Peso',
  'PLN': 'Polish Zloty',
  'RON': 'Romanian Leu',
  'RUB': 'Russian Ruble',
  'SEK': 'Swedish Krona',
  'SGD': 'Singapore Dollar',
  'THB': 'Thai Baht',
  'TRY': 'Turkish Lira',
  'TWD': 'Taiwanese Dollar',
  'USD': 'US Dollar',
  'XAG': 'Silver (troy ounce)',
  'XAU': 'Gold (troy ounce)',
  'XPD': 'Palladium',
  'XPT': 'Platinum',
  'ZAR': 'South African Rand'},
 'endpoint': 'live_currencies'}

In [10]:
columns = ['Symbol', 'Currency']

In [11]:
df = pd.DataFrame([[x,y] for x,y in data['available_currencies'].items()], columns=columns)

In [12]:
df.query('Symbol == "CAD"')

  Symbol         Currency
4    CAD  Canadian Dollar

In [13]:
[[x,y] for x,y in data['available_currencies'].items()]

[['AED', 'UAE Dirham'],
 ['ARS', 'Argentine Peso'],
 ['AUD', 'Australian Dollar'],
 ['BRL', 'Brazilian Real'],
 ['CAD', 'Canadian Dollar'],
 ['CHF', 'Swiss Franc'],
 ['CLP', 'Chilean Peso'],
 ['CNY', 'Chinese Yuan'],
 ['COP', 'Colombian Peso'],
 ['CZK', 'Czech Koruna'],
 ['DKK', 'Danish Krone'],
 ['EUR', 'Euro'],
 ['GBP', 'British Pound Sterling'],
 ['HKD', 'Hong Kong Dollar'],
 ['HRK', 'Croatian Kuna'],
 ['HUF', 'Hungarian Forint'],
 ['IDR', 'Indonesian Rupiah'],
 ['ILS', 'Israeli New Sheqel'],
 ['INR', 'Indian Rupee'],
 ['ISK', 'Icelandic Krona'],
 ['JPY', 'Japanese Yen'],
 ['KRW', 'South Korean Won'],
 ['KWD', 'Kuwaiti Dinar'],
 ['MAD', 'Moroccan Dirham'],
 ['MXN', 'Mexican Peso'],
 ['MYR', 'Malaysian Ringgit'],
 ['NOK', 'Norwegian Krone'],
 ['NZD', 'New Zealand Dollar'],
 ['PEN', 'Peruvian Nuevo Sol'],
 ['PHP', 'Philippine Peso'],
 ['PLN', 'Polish Zloty'],
 ['RON', 'Romanian Leu'],
 ['RUB', 'Russian Ruble'],
 ['SEK', 'Swedish Krona'],
 ['SGD', 'Singapore Dollar'],
 ['THB', 'Thai Baht'],
 ['TRY', 'Turkish Lira'],
 ['TWD', 'Taiwanese Dollar'],
 ['USD', 'US Dollar'],
 ['XAG', 'Silver (troy ounce)'],
 ['XAU', 'Gold (troy ounce)'],
 ['XPD', 'Palladium'],
 ['XPT', 'Platinum'],
 ['ZAR', 'South African Rand']]

In [41]:
data['available_currencies'].items()

dict_items([('AED', 'UAE Dirham'), ('ARS', 'Argentine Peso'), ('AUD', 'Australian Dollar'), ('BRL', 'Brazilian Real'), ('CAD', 'Canadian Dollar'), ('CHF', 'Swiss Franc'), ('CLP', 'Chilean Peso'), ('CNY', 'Chinese Yuan'), ('COP', 'Colombian Peso'), ('CZK', 'Czech Koruna'), ('DKK', 'Danish Krone'), ('EUR', 'Euro'), ('GBP', 'British Pound Sterling'), ('HKD', 'Hong Kong Dollar'), ('HRK', 'Croatian Kuna'), ('HUF', 'Hungarian Forint'), ('IDR', 'Indonesian Rupiah'), ('ILS', 'Israeli New Sheqel'), ('INR', 'Indian Rupee'), ('ISK', 'Icelandic Krona'), ('JPY', 'Japanese Yen'), ('KRW', 'South Korean Won'), ('KWD', 'Kuwaiti Dinar'), ('MAD', 'Moroccan Dirham'), ('MXN', 'Mexican Peso'), ('MYR', 'Malaysian Ringgit'), ('NOK', 'Norwegian Krone'), ('NZD', 'New Zealand Dollar'), ('PEN', 'Peruvian Nuevo Sol'), ('PHP', 'Philippine Peso'), ('PLN', 'Polish Zloty'), ('RON', 'Romanian Leu'), ('RUB', 'Russian Ruble'), ('SEK', 'Swedish Krona'), ('SGD', 'Singapore Dollar'), ('THB', 'Thai Baht'), ('TRY', 'Turkish Lira'), ('TWD', 'Taiwanese Dollar'), ('USD', 'US Dollar'), ('XAG', 'Silver (troy ounce)'), ('XAU', 'Gold (troy ounce)'), ('XPD', 'Palladium'), ('XPT', 'Platinum'), ('ZAR', 'South African Rand')])

In [15]:
df.head()

  Symbol           Currency
0    AED         UAE Dirham
1    ARS     Argentine Peso
2    AUD  Australian Dollar
3    BRL     Brazilian Real
4    CAD    Canadian Dollar