In [1]:
import pandas as pd
import urllib
import json

In [2]:
data = pd.read_json("http://api.open-notify.org/astros.json")

In [3]:
data

                                             people  message  number
0        {'craft': 'ISS', 'name': 'Mark Vande Hei'}  success      10
1          {'craft': 'ISS', 'name': 'Pyotr Dubrov'}  success      10
2      {'craft': 'ISS', 'name': 'Anton Shkaplerov'}  success      10
3  {'craft': 'Shenzhou 13', 'name': 'Zhai Zhigang'}  success      10
4   {'craft': 'Shenzhou 13', 'name': 'Wang Yaping'}  success      10
5    {'craft': 'Shenzhou 13', 'name': 'Ye Guangfu'}  success      10
6            {'craft': 'ISS', 'name': 'Raja Chari'}  success      10
7         {'craft': 'ISS', 'name': 'Tom Marshburn'}  success      10
8          {'craft': 'ISS', 'name': 'Kayla Barron'}  success      10
9       {'craft': 'ISS', 'name': 'Matthias Maurer'}  success      10

In [4]:
request = urllib.request.urlopen("http://api.open-notify.org/astros.json")

In [5]:
data = json.load(request)

In [6]:
data['people']

[{'craft': 'ISS', 'name': 'Mark Vande Hei'},
 {'craft': 'ISS', 'name': 'Pyotr Dubrov'},
 {'craft': 'ISS', 'name': 'Anton Shkaplerov'},
 {'craft': 'Shenzhou 13', 'name': 'Zhai Zhigang'},
 {'craft': 'Shenzhou 13', 'name': 'Wang Yaping'},
 {'craft': 'Shenzhou 13', 'name': 'Ye Guangfu'},
 {'craft': 'ISS', 'name': 'Raja Chari'},
 {'craft': 'ISS', 'name': 'Tom Marshburn'},
 {'craft': 'ISS', 'name': 'Kayla Barron'},
 {'craft': 'ISS', 'name': 'Matthias Maurer'}]

In [7]:
dataset = pd.DataFrame(data['people'])

In [8]:
dataset

         craft              name
0          ISS    Mark Vande Hei
1          ISS      Pyotr Dubrov
2          ISS  Anton Shkaplerov
3  Shenzhou 13      Zhai Zhigang
4  Shenzhou 13       Wang Yaping
5  Shenzhou 13        Ye Guangfu
6          ISS        Raja Chari
7          ISS     Tom Marshburn
8          ISS      Kayla Barron
9          ISS   Matthias Maurer

Q:  How many crafts went up?

In [39]:
dataset['craft'].nunique()

2

Q: How many people, from each craft?

In [41]:
dataset.groupby("craft").count()

             name
craft
ISS             7
Shenzhou 13     3

Q: How many people are in space currently?

In [45]:
dataset.name.count()

10