In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("100 Sales Records.csv")

In [13]:
df.groupby("Country")['Units Sold'].sum()

Country
Albania                              2269
Angola                               4187
Australia                           12995
Austria                              2847
Azerbaijan                           9255
Bangladesh                           8263
Belize                               5498
Brunei                               6708
Bulgaria                             5660
Burkina Faso                         8082
Cameroon                            10948
Cape Verde                           4168
Comoros                               962
Costa Rica                           6409
Cote d'Ivoire                        3482
Democratic Republic of the Congo     5741
Djibouti                            23198
East Timor                           5908
Federated States of Micronesia       9379
Fiji                                 9905
France                               1815
Gabon                                8656
Grenada                              2804
Haiti                                1705
Honduras                            11199
Iceland                              8867
Iran                                 6489
Kenya                                6457
Kiribati                             5398
Kuwait                                522
                                    ...
Myanmar                             14180
New Zealand                          2187
Nicaragua                            8156
Niger                                3015
Norway                              12574
Pakistan                             9892
Portugal                             1273
Republic of the Congo                6070
Romania                              7910
Russia                               1779
Rwanda                               9539
Samoa                                9654
San Marino                           4750
Sao Tome and Principe               24568
Saudi Arabia                         4063
Senegal                              6593
Sierra Leone                         5890
Slovakia                              171
Slovenia                             4660
Solomon Islands                      2974
South Sudan                          2125
Spain                                4513
Sri Lanka                            6952
Switzerland                          8934
Syria                                3784
The Gambia                          14813
Turkmenistan                         8840
Tuvalu                               9925
United Kingdom                        282
Zambia                               4085
Name: Units Sold, Length: 76, dtype: int64