In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../input_files/100 Sales Records.csv')

In [4]:
data.head(2)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.0,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.8,328376.44,248406.36

### List of sales regions

In [6]:
data.Region.unique()

array(['Australia and Oceania', 'Central America and the Caribbean',
       'Europe', 'Sub-Saharan Africa', 'Asia',
       'Middle East and North Africa', 'North America'], dtype=object)

In [7]:
list(data.Region.unique())

['Australia and Oceania',
 'Central America and the Caribbean',
 'Europe',
 'Sub-Saharan Africa',
 'Asia',
 'Middle East and North Africa',
 'North America']

### Total sold per region

In [8]:
data.groupby('Region')['Units Sold'].sum()

Region
Asia                                  59967
Australia and Oceania                 68325
Central America and the Caribbean     35771
Europe                                98117
Middle East and North Africa          48678
North America                         19143
Sub-Saharan Africa                   182870
Name: Units Sold, dtype: int64

### Total REvenue for Regions

In [11]:
dict(data.groupby('Region')['Total Revenue'].sum())

{'Asia': 21347091.02,
 'Australia and Oceania': 14094265.13,
 'Central America and the Caribbean': 9170385.49,
 'Europe': 33368932.11,
 'Middle East and North Africa': 14052706.58,
 'North America': 5643356.55,
 'Sub-Saharan Africa': 39672031.43}

In [25]:
for r in dict(data.groupby('Region')['Total Revenue'].sum()).items():
    print("The total revenue for continent {0} are ${1:.2f}".format(r[0], r[1]))

The total sales for continent Asia are $21347091.02
The total sales for continent Australia and Oceania are $14094265.13
The total sales for continent Central America and the Caribbean are $9170385.49
The total sales for continent Europe are $33368932.11
The total sales for continent Middle East and North Africa are $14052706.58
The total sales for continent North America are $5643356.55
The total sales for continent Sub-Saharan Africa are $39672031.43

## Totals

In [27]:
data['Units Sold'].sum()

512871

In [29]:
data['Total Revenue'].mean()

1373487.6830999998

In [30]:
data['Total Revenue'].sum()

137348768.31

In [31]:
test123 = pd.read_excel('../input_files/Financial Sample.xlsx')

In [32]:
test123

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014