In [12]:
import urllib
import json
import pandas as pd

In [8]:
request = urllib.request.urlopen("http://api.open-notify.org/astros.json")

In [9]:
data = json.load(request)

In [10]:
data

{'people': [{'craft': 'ISS', 'name': 'Mark Vande Hei'},
  {'craft': 'ISS', 'name': 'Pyotr Dubrov'},
  {'craft': 'ISS', 'name': 'Anton Shkaplerov'},
  {'craft': 'Shenzhou 13', 'name': 'Zhai Zhigang'},
  {'craft': 'Shenzhou 13', 'name': 'Wang Yaping'},
  {'craft': 'Shenzhou 13', 'name': 'Ye Guangfu'},
  {'craft': 'ISS', 'name': 'Raja Chari'},
  {'craft': 'ISS', 'name': 'Tom Marshburn'},
  {'craft': 'ISS', 'name': 'Kayla Barron'},
  {'craft': 'ISS', 'name': 'Matthias Maurer'}],
 'message': 'success',
 'number': 10}

In [16]:
data['people']

[{'craft': 'ISS', 'name': 'Mark Vande Hei'},
 {'craft': 'ISS', 'name': 'Pyotr Dubrov'},
 {'craft': 'ISS', 'name': 'Anton Shkaplerov'},
 {'craft': 'Shenzhou 13', 'name': 'Zhai Zhigang'},
 {'craft': 'Shenzhou 13', 'name': 'Wang Yaping'},
 {'craft': 'Shenzhou 13', 'name': 'Ye Guangfu'},
 {'craft': 'ISS', 'name': 'Raja Chari'},
 {'craft': 'ISS', 'name': 'Tom Marshburn'},
 {'craft': 'ISS', 'name': 'Kayla Barron'},
 {'craft': 'ISS', 'name': 'Matthias Maurer'}]

In [14]:
pd.DataFrame(data['people'])

         craft              name
0          ISS    Mark Vande Hei
1          ISS      Pyotr Dubrov
2          ISS  Anton Shkaplerov
3  Shenzhou 13      Zhai Zhigang
4  Shenzhou 13       Wang Yaping
5  Shenzhou 13        Ye Guangfu
6          ISS        Raja Chari
7          ISS     Tom Marshburn
8          ISS      Kayla Barron
9          ISS   Matthias Maurer